doctype html
html
    head
        title Little Library
    body
        h1 This is #{title}


        ul
            each book, i in bookList
                li
                    <div>#{i}</div>
                    <div>a(href="#{book.book_url}") #{book.Book_name}</div>
                    <div>a(href='http://#{book.book_url}')
                        img(src='#{book.image_url}')</div>
            else
                li sorry, no books!


