doctype html
html
    head
        title Little Library
    body
        h1 This is #{title}


        ul
            each book, i in bookList
                li
                    a(href="#{book.book_url}") #{book.Scanned_code}
                    a(href='http://#{book.book_url}')
                        img(src='#{book.image_url}')
            else
                li sorry, no books!


